<div class="p-6 md:p-10 bg-base-200 min-h-screen relative">
  <div class="flex flex-col md:flex-row justify-between items-center mb-8 gap-4">
    <h1 class="text-3xl font-bold text-base-content capitalize">
      {{ ramaSeleccionada() ? 'Rama ' + ramaSeleccionada() : 'Nómina de Beneficiarios' }}
    </h1>
    <div class="flex gap-2">
      <button class="btn btn-ghost" (click)="cargarBeneficiarios(true)">↻ Refrescar</button>
      <button routerLink="/beneficiarios/nuevo" class="btn btn-primary">Nuevo Beneficiario</button>
    </div>
  </div>

  @if (cargando()) {
    <app-loading-spinner texto="Cargando nómina..."></app-loading-spinner>
  } @else if (error()) {
    <div class="flex flex-col gap-4">
      <app-alert-error [mensaje]="error()" (cerrar)="limpiarError()"></app-alert-error>
      <button class="btn btn-outline self-center" (click)="cargarBeneficiarios()">
        Reintentar carga
      </button>
    </div>
  } @else {
    <app-tabla-beneficiarios
      [beneficiarios]="beneficiariosFiltrados()"
      (onEliminar)="prepararBorrado($event)"
    >
    </app-tabla-beneficiarios>
  }

  <app-confirm-modal
    modalId="modal_confirmar_borrado"
    titulo="¿Confirmar eliminación?"
    [mensaje]="
      'Estás por borrar a <strong>' +
      beneficiarioSeleccionado()?.nombre +
      ' ' +
      beneficiarioSeleccionado()?.apellido +
      '</strong>. Esta acción es permanente.'
    "
    textoBoton="Eliminar definitivamente"
    (confirmar)="confirmarBorrado()"
  >
  </app-confirm-modal>
</div>
