<form [formGroup]="familiaForm" (ngSubmit)="guardar()">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="form-control flex flex-col gap-1 w-full md:col-span-2">
      <label class="label pb-0">
        <span class="label-text font-bold text-lg">Nombre/Apellido de la Familia</span>
      </label>
      <input
        type="text"
        formControlName="apellido_familia"
        placeholder="Ej: Bevilacqua-Verna"
        class="input input-bordered w-full"
        [class.input-error]="campoEsInvalido('apellido_familia')"
      />
      @if (campoEsInvalido('apellido_familia')) {
        <div class="label py-0 flex-col items-start gap-1 mt-1">
          @if (familiaForm.get('apellido_familia')?.hasError('required')) {
            <span class="label-text-alt text-error">Requerido.</span>
          }
          @if (familiaForm.get('apellido_familia')?.hasError('formatoFamiliaInvalido')) {
            <span class="label-text-alt text-error"
              >Ambos apellidos deben iniciar con Mayúscula y separarse con un guion (Ej:
              Bevilacqua-Verna).</span
            >
          }
        </div>
      }
    </div>

    <div class="divider md:col-span-2">Datos de los Padres</div>

    <div class="form-control flex flex-col gap-1">
      <label class="label pb-0"><span class="label-text">Nombre del Padre</span></label>
      <input
        type="text"
        formControlName="nombre_padre"
        class="input input-bordered"
        [class.input-error]="campoEsInvalido('nombre_padre')"
      />
      @if (campoEsInvalido('nombre_padre')) {
        <div class="label py-0 flex-col items-start gap-1 mt-1">
          @if (familiaForm.get('nombre_padre')?.hasError('required')) {
            <span class="label-text-alt text-error">Requerido.</span>
          }
          @if (familiaForm.get('nombre_padre')?.hasError('formatoNombreInvalido')) {
            <span class="label-text-alt text-error"
              >Cada palabra debe empezar con Mayúscula (Ej: Juan Carlos).</span
            >
          }
        </div>
      }

      <label class="label pb-0 mt-2"><span class="label-text">Teléfono Padre</span></label>
      <input
        type="text"
        formControlName="telefono_padre"
        class="input input-bordered"
        [class.input-error]="campoEsInvalido('telefono_padre')"
      />
      @if (campoEsInvalido('telefono_padre')) {
        <div class="label py-0 flex-col items-start gap-1 mt-1">
          @if (familiaForm.get('telefono_padre')?.hasError('required')) {
            <span class="label-text-alt text-error">Requerido.</span>
          }
          @if (familiaForm.get('telefono_padre')?.hasError('telefonoInvalido')) {
            <span class="label-text-alt text-error">Formato incorrecto (min 8 números).</span>
          }
        </div>
      }
    </div>

    <div class="form-control flex flex-col gap-1">
      <label class="label pb-0"><span class="label-text">Nombre de la Madre</span></label>
      <input
        type="text"
        formControlName="nombre_madre"
        class="input input-bordered"
        [class.input-error]="campoEsInvalido('nombre_madre')"
      />
      @if (campoEsInvalido('nombre_madre')) {
        <div class="label py-0 flex-col items-start gap-1 mt-1">
          @if (familiaForm.get('nombre_madre')?.hasError('required')) {
            <span class="label-text-alt text-error">Requerido.</span>
          }
          @if (familiaForm.get('nombre_madre')?.hasError('minlength')) {
            <span class="label-text-alt text-error">Debe tener al menos 3 caracteres.</span>
          }
          @if (familiaForm.get('nombre_madre')?.hasError('formatoNombreInvalido')) {
            <span class="label-text-alt text-error"
              >Cada palabra debe empezar con Mayúscula (Ej: Maria Jose).</span
            >
          }
        </div>
      }

      <label class="label pb-0 mt-2"><span class="label-text">Teléfono Madre</span></label>
      <input
        type="text"
        formControlName="telefono_madre"
        class="input input-bordered"
        [class.input-error]="campoEsInvalido('telefono_madre')"
      />
      @if (campoEsInvalido('telefono_madre')) {
        <div class="label py-0 flex-col items-start gap-1 mt-1">
          @if (familiaForm.get('telefono_madre')?.hasError('required')) {
            <span class="label-text-alt text-error">Requerido.</span>
          }
          @if (familiaForm.get('telefono_madre')?.hasError('telefonoInvalido')) {
            <span class="label-text-alt text-error">Formato incorrecto (min 8 números).</span>
          }
        </div>
      }
    </div>

    <div class="divider md:col-span-2">Contacto General</div>

    <div class="form-control flex flex-col gap-1">
      <label class="label pb-0"><span class="label-text">Email de la Familia</span></label>
      <input
        type="email"
        formControlName="email"
        class="input input-bordered"
        [class.input-error]="campoEsInvalido('email')"
      />
      @if (campoEsInvalido('email')) {
        <div class="label py-0 flex-col items-start gap-1 mt-1">
          @if (familiaForm.get('email')?.hasError('required')) {
            <span class="label-text-alt text-error">Requerido.</span>
          }
          @if (familiaForm.get('email')?.hasError('emailInvalido')) {
            <span class="label-text-alt text-error">Formato de correo incorrecto.</span>
          }
        </div>
      }
    </div>

    <div class="form-control flex flex-col gap-1">
      <label class="label pb-0"><span class="label-text">Dirección</span></label>
      <input
        type="text"
        formControlName="direccion"
        class="input input-bordered"
        [class.input-error]="campoEsInvalido('direccion')"
      />
      @if (campoEsInvalido('direccion')) {
        <div class="label py-0 flex-col items-start gap-1 mt-1">
          @if (familiaForm.get('direccion')?.hasError('required')) {
            <span class="label-text-alt text-error">Requerida.</span>
          }
          @if (familiaForm.get('direccion')?.hasError('minlength')) {
            <span class="label-text-alt text-error">Mínimo 3 caracteres.</span>
          }
        </div>
      }
    </div>
  </div>

  <div class="mt-10 flex justify-end">
    <button type="submit" class="btn btn-primary w-full md:w-auto px-10">
      {{ esEdicion ? 'Actualizar Datos' : 'Registrar Familia' }}
    </button>
  </div>
</form>
